@{
    ViewData["Title"] = "Index";
}

<h1>Admin Manage</h1>
<a asp-controller="AirlineCompanies"> Airline Comapanies</a>
<a asp-controller="Airlines"> Airlines</a>
<a asp-controller="Seats">Seats</a>
<a asp-controller="TypeSeats"> Type Seats</a>
<p>|</p>
<a asp-controller="Accounts"> Accounts</a>
<a asp-controller="Schedules"> Schedules</a>