<!DOCTYPE html>
<html lang="en" class="white">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlightBooking</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="p-4" class="absolute top-0 hidden w-3/5 h-full -mr-32 overflow-hidden -skew-x-10 -right-40 rounded-bl-xl md:block">
    <header class="grid justify-items-center text-gray-800">
            <nav class="flex w-2/3 items-center rounded-full bg-gradient-to-r from-indigo-500/25 via-pink-600/25 to-violet-600/25 py-2 shadow-xl lg:flex-wrap lg:justify-start lg:py-4">
        <div class="flex justify-between items-center px-5 w-full flex-wrap px-3 opacity-100">
            <div>
                <a href="/" class="font-bold text-transparent text-base bg-clip-text bg-gradient-to-r from-indigo-500 via-pink-600 to-violet-600">Flight Booking</a>
            </div>
            <button
                class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
                type="button" data-te-collapse-init data-te-target="#navbarSupportedContent2"
                aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Hamburger icon -->
                <span class="[&>svg]:w-7">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-7 w-7">
                        <path fill-rule="evenodd"
                            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                            clip-rule="evenodd" />
                    </svg>
                </span>
            </button>
            <!-- Collapsible navbar container -->
            <div class="!visible justify-center mt-2 hidden lg:mt-0 lg:!flex lg:basis-auto order-1"
                id="navbarSupportedContent2" data-te-collapse-item>
                <!-- Left links -->
                <ul class="text-gray-600 font-semibold text-base list-style-none mr-auto flex flex-col  pl-0 lg:mt-1 lg:flex-row" data-te-navbar-nav-ref>
                    <!-- Home link -->
                    <li class="flex justify-center my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-1 hover:text-fuchsia-600" data-te-nav-item-ref>
                        <span class="material-symbols-outlined text-lg"> airlines </span>                        
                        <a class="lg:px-2"
                            aria-current="page" href="/" data-te-nav-link-ref>Flights</a>
                    </li>
                    <!-- Features link -->
                    <li class="flex justify-center mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1 hover:text-fuchsia-600" data-te-nav-item-ref>
                        <span class="material-symbols-outlined text-lg"> person </span>
                        <a class=" lg:px-2 " asp-controller="Pakages" 
                            data-te-nav-link-ref> Profile</a>
                    </li>
                    <!-- Pricing link -->
                    <li class="flex justify-center mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1 hover:text-fuchsia-600" data-te-nav-item-ref>
                        <span class="material-symbols-outlined text-lg"> sell </span>
                        <a
                            class="lg:px-2 "
                            href="#" data-te-nav-link-ref>Pricing</a>
                    </li>
                    <partial name="_LoginPartial"/>
                </ul>
            </div>
            <div class="order-2">
            </div>
        </div>
    </nav>
    </header>
    <div class="bg-white w-full sm:py-32 text-gray-700">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <div class="absolute inset-x-0 top-0 h-full -ml-16 w-1/2 bg-cover skew-x-10" style="background-image: url('/Assets/curved6.jpg');">hello</div>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
