@using Microsoft.AspNetCore.Identity
@using FlightBooking.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a is-active-route="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-pink-600 to-violet-600"
            class="text-gray-800 hover:text-indigo-700 block py-2 pl-3 pr-4 rounded">
            Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form is-active-route="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-pink-600 to-violet-600"
            id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="form-inline">
            <button
                is-active-route="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-pink-600 to-violet-600"
                id="logout" type="submit" class="text-gray-800 hover:text-indigo-700 block py-2 pl-3 pr-4 rounded"></button>
        </form>
    </li>
}
else
{
    <li>
        <a  is-active-route="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-pink-600 to-violet-600"
            id="login" asp-area="Identity" asp-page="/account/Login"
            class="text-gray-800 hover:text-indigo-700 block py-2 pl-3 pr-4 rounded">
            Sign in</a>
    </li>
    <li>
        <a  is-active-route="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-pink-600 to-violet-600"
            id="register" asp-area="Identity" asp-page="/Account/Register"
            class="text-gray-800 hover:text-indigo-700 block py-2 pl-3 pr-4 rounded">
            Sign up</a>
    </li>
}
