@using Microsoft.AspNetCore.Identity
@using FlightBooking.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item">
        <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link gray-200">
            Hello @UserManager.GetUserName(User)!</a>
    </div>
    <div class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link gray-200">Logout</button>
        </form>
    </div>
}
else
{
    <div class="nav-item">
        <a id="login" asp-area="Identity" asp-page="/account/Login" class="nav-link gray-200">
            Sign in</a>
    </div>
    <div class="nav-item">
        <a id="register" asp-area="Identity" asp-page="/Account/Register" class="nav-link gray-200">
            Sign up</a>
    </div>
}
