@using Microsoft.AspNetCore.Identity
@using FlightBooking.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="flex justify-center mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1 hover:text-fuchsia-600" data-te-nav-item-ref>   
        <a  class="lg:px-2"
            data-te-nav-link-ref>
            Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="flex justify-center mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1 hover:text-fuchsia-600" data-te-nav-item-ref>
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="/" class="form-inline">
            <button id="logout" type="submit" class="lg:px-2">Log out</button>
        </form>
    </li>
}
else
{
    <li class="flex justify-center mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1 hover:text-fuchsia-600" data-te-nav-item-ref>
        <span class="material-symbols-outlined text-lg"> account_circle </span>
        
        <a  
            id="register" asp-area="Identity" asp-page="/Account/Register"
            class="lg:px-2"
            data-te-nav-link-ref>
            Sign up</a>
    </li>
    <li class="flex justify-center mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1 hover:text-fuchsia-600" data-te-nav-item-ref>
        <span class="material-symbols-outlined text-lg"> key </span>
        <a  
            id="login" asp-area="Identity" asp-page="/account/Login"
            class="lg:px-2"
            data-te-nav-link-ref>
            Sign in</a>
    </li>
}
