@model FlightBooking.Models.AirlineCompany

@{
    ViewData["Title"] = "Delete";
}
<div class="bg-white/50 w-1/3 mx-auto py-5 shadow-xl rounded">
    <div class="flex flex-col items-center justify-center px-2">
        <p class="font-bold text-xl text-gray-800">Delete Airline company</p>
        <p class="font-medium text-base text-gray-800">Are you sure you want to delete this?</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-5 w-full">
                <label asp-for="Name" class="text-sm font-medium leading-none text-gray-800">
                </label>
                <input asp-for="Name"
                    class="bg-gray-100/70 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
                    autocomplete="username" aria-required="true" disabled/>
                <span asp-for="UserName" class="text-danger"></span>
            </div>
            <form asp-action="Delete" class="mt-5 w-full grid grid-cols-2 gap-2">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="cursor-pointer bg-indigo-500 text-gray-200 py-1 w-full rounded"/>
                <a asp-action="Index" class="bg-white/70 text-indigo-500 border-indigo-500 rounded py-1 w-full text-center">Back to List</a>
            </form>            
    </div>
</div>

