@{
}
<div class="flex items-center justify-center bg-white">
    <div class="flex flex-col">
        <!-- Notes -->

        <!-- Error Container -->
        <div class="flex flex-col items-center">
            <div class="text-indigo-500 font-bold text-7xl">
                Access Denied
            </div>

            <div class="font-bold text-2xl xl:text-7xl lg:text-6xl md:text-5xl mt-10">
               No permissions to access this page.
            </div>

            <div class="text-gray-400 font-medium text-sm md:text-xl lg:text-2xl mt-8">
                Contact an administrator to get permissions or go to the home page and browse other pages
            </div>
        </div>
    </div>
</div>