@model FlightBooking.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}
<div class="bg-white/50 w-1/3 mx-auto py-5 shadow-xl rounded">
    <div class="flex flex-col items-center justify-center px-2">
        <p class="font-bold text-xl text-gray-800">Edit schedule</p>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-5 w-full">
                <label asp-for="DepartureAirport" class="text-sm font-medium leading-none text-gray-800">
                </label>
                <select asp-for="DepartureAirportId" asp-items="ViewBag.DepartureAirport"
                    class="bg-gray-100 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"></select>
            </div>
            <div class="mt-5 w-full">
                <label asp-for="DestinationAirport" class="text-sm font-medium leading-none text-gray-800">
                </label>
                <select asp-for="DestinationAirportId" asp-items="ViewBag.DestinationAirport"
                    class="bg-gray-100 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"></select>
            </div>
            <div class="mt-5 w-full">
                <label asp-for="Airline" class="text-sm font-medium leading-none text-gray-800">
                </label>
                <select asp-for="AirlineId" asp-items="ViewBag.Airlines"
                    class="bg-gray-100 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"></select>
            </div>
            <div class="mt-5 w-full grid grid-cols-2 gap-1">
                <div class="mr-1 col-span-2 sm:col-span-1">
                    <label class="text-sm font-medium leading-none text-gray-800">Hour</label>
                    <input type="text" name="hours" id="hours"
                        class="bg-gray-100 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
                        value="@ViewBag.TimeFlight.Hour"/>
                </div>
                <div class="mr-1 col-span-2 sm:col-span-1">
                    <label class="text-sm font-medium leading-none text-gray-800">Minute</label>
                    <input type="text" name="minutes" id="minutes"
                        class="bg-gray-100 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2"
                        value="@ViewBag.TimeFlight.Minutes"/>
                </div>
                <span asp-validation-for="FlightTime" class="text-danger"></span>
            </div>
            <div class="mt-5 w-full">
                <label class="text-sm font-medium leading-none text-gray-800" asp-for="DepartureTime">
                </label>
                <input asp-for="DepartureTime" name="departureTime" id="departureTime"
                    class="bg-gray-100 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2" 
                    oninput="CalculateDestinationTime()" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="mt-5 w-full">
                <label class="text-sm font-medium leading-none text-gray-800" asp-for="DestinationTime">
                </label>
                <input asp-for="DestinationTime" id="DestinationTime"
                    class="bg-gray-100 border rounded text-xs font-medium leading-none text-gray-800 py-2 w-full pl-3 mt-2" 
                    placeholder="Calculating ..." />
                <span asp-validation-for="DestinationTime" class="text-danger"></span>
            </div>
            <div class="mt-5 w-full grid grid-cols-2 gap-2">
                <div class="mr-1 col-span-2 sm:col-span-1">
                    <button type="submit" class="bg-indigo-500 text-gray-200 py-1 w-full rounded">Edit</button>
                </div>
                <div class="mr-1 col-span-2 sm:col-span-1">
                    <button class="bg-white/70 text-indigo-500 border-indigo-500 rounded py-1 w-full">
                        <a asp-action="Index">Back to List</a>
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function CalculateDestinationTime() {
        var input1Value = parseFloat(document.getElementById("hours").value);
        var input2Value = parseFloat(document.getElementById("minutes").value);
        var input3Value = new Date(document.getElementById("departureTime").value);


        var day = input3Value.getDate();
        var month = input3Value.getMonth() + 1; // Tháng bắt đầu từ 0 nên cộng thêm 1
        var year = input3Value.getFullYear();
        var hours = input3Value.getHours();
        var minutes = input3Value.getMinutes();
        var seconds = input3Value.getSeconds();

        // Tạo chuỗi với định dạng mà bạn muốn
        var formattedDate = day + " " + month + " " + year + " " + hours + ":" + minutes + ":" + seconds;
        if (!isNaN(input1Value) && !isNaN(input2Value) && input3Value instanceof Date && !isNaN(input3Value)) {
            $.ajax({
                url: '/Admin/Schedules/CalculateDestinationTime',
                method: 'POST',
                data: { hours: input1Value, minutes: input2Value, departureTime: formattedDate },
                success: function (data) {
                    document.getElementById("DestinationTime").value = data.final;
                },
                error: function () {
                    console.log('Some Errors');
                }
            });
        }
    }
    document.getElementById("hours").addEventListener("input", CalculateDestinationTime);
    document.getElementById("minutes").addEventListener("input", CalculateDestinationTime);
    document.getElementById("departureTime").addEventListener("input", CalculateDestinationTime);
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
