@{
   ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en" class="white">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - FlightBooking</title>
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/FlightBooking.styles.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" /> 
   <script src="https://cdn.tailwindcss.com/3.3.0"></script>
   <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="bg-gradient-to-r from-indigo-500 via-pink-600 to-violet-600">
   

   <div class="p-4 sm:ml-64 overflow-y-auto">
      <main role="main" class="p-4 border-gray-200 dark:border-gray-700">
         @RenderBody()
      </main>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>