<div class="bg-white/70 px-2 py-1 my-5 rounded">
    <nav aria-label="Page navigation example">
  <ul class="list-style-none flex">
    @{
        int totalPage = ViewBag.PagedList.TotalPage;
        int currentPage = ViewBag.PagedList.CurrentPage;

        int prePage = currentPage - 1;
        int nextPage = currentPage + 1;
    }
    @if(totalPage >= 1){
        @if (currentPage != 1){
        <li class="px-1">
        <a
            class="relative block rounded bg-indigo-500 px-3 py-1.5 text-sm text-gray-200 transition-all duration-300 hover:bg-indigo-600"
            href="?page=@prePage"
            >Previous</a>
        </li>
        }

        @for(int i = 1; i <= totalPage; i++){
            if (i == currentPage){
                <li class="px-1">
                <a
                    class="relative text-gray-200 block rounded bg-indigo-500 px-3 py-1.5 text-sm transition-all duration-300 hover:bg-indigo-500"
                    href="?page=@i"
                    >@i</a>
                </li>            
            }
            else{
                <li  class="px-1">
                <a
                    class="relative block bg-gray-200 rounded px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-indigo-500"
                    href="?page=@i"
                    >@i</a>
                </li>
            }
        }
        @if (currentPage >= 1 && currentPage < totalPage){
        <li class="px-1">
        <a 
            class="relative block rounded bg-indigo-500 px-3 py-1.5 text-sm text-gray-200 transition-all duration-300 hover:bg-indigo-600"
            href="?page=@nextPage"
            >Next</a>
        </li>
        }        
    }else{
        <p>No Page</p>
    }
  </ul>
</nav>
</div>