@model IEnumerable<FlightBooking.Models.AppRole>

@{
    ViewData["Title"] = "SetRoles";
    var roles = ViewBag.Roles;
    var currentRoles = ViewBag.CurrentRoles;
}


<div class="w-full"></div>
  <div class="flex flex-col bg-white/50 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div><h1>@ViewBag.User</h1></div>
    <div>
      <form asp-action="SetRoles">
        <div class="flex flex-col">
          <div>
            @foreach(var role in roles){
              <label>
                <input type="checkbox" name="selectedRolesId" value="@role.Id" @(currentRoles.Contains(role)? "checked": "")/>
                @role.Name
              </label>
            }
          </div>
          <div>
            <input type="submit" value="SetRoles" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
    <div>
      hello
    </div>
  </div>
</div>